<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BasicProjectUsingVaadin7/src/main/java/com/example/BasicProjectUsingVaadin7/BasicProjectUsingVaadinApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.example.BasicProjectUsingVaadin7.BasicProjectUsingVaadinApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BasicProjectUsingVaadin7"/>
</launchConfiguration>
