<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SpringVaadin/src/main/java/com/example/SpringVaadin/SpringVaadinApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.example.SpringVaadin.SpringVaadinApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SpringVaadin"/>
</launchConfiguration>
